<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>XXX</title>
    <!--样式表-->
    <link href="__ROOT__/Public/css/css.css" rel="stylesheet" type="text/css" />
    <link href="__ROOT__/Public/css/core.css" type="text/css" rel="stylesheet">
    <!-- js-->
    <script type="text/javascript" src="__ROOT__/Public/js/js.js"></script>
    <script src="__ROOT__/Public/js/jquery-2.1.4.min.js" type="text/javascript" language="javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            altRows();
        });
    </script>
</head>
<body>
<div id='wrapper' style='width:1024px;height:800px'>
    <div id='header'>
        <div id='top'> <div id='top_user_info'><span>欢迎您：XXX</span><span><a href="#">退出</a></span></div></div>
        <div id='nav'>
            <ul>
                <li><a href="#">管理人员管理</a></li>
                <li><a href="#">机构管理</a></li>
                <li><a href="#">人员管理</a></li>
            </ul>
        </div>
    </div>
