<include file="Common:header" />
<div id="middle">
    <div class='filter'>
        <p><lable>区县 </lable>
            <select name='condition1' >
                <option value=''>请选择区县</option>
                <volist name="area" id="area">
                    <option value={$area['ID']}>{$area['NAME']}</option>
                </volist>
            </select>
            <lable>机构 </lable>
            <select name='condition2' >
                <option value=''>请选择机构</option>
                <volist name="jg" id="jg">
                    <option value={$jg['ID']}>{$jg['NAME']}</option>
                </volist>
            </select>
            <lable>姓名 </lable>
            <input type="text" name="condition3" value=''/>
            <button id="pagesubmit">确 定</button>
        </p>
    </div>

    <script type="text/javascript">
        $(function ($) {
            //弹出登录
            $(".tjwgly").hover(function () {
                $(this).stop().animate({
                    opacity: '1'
                }, 600);
            }, function () {
                $(this).stop().animate({
                    opacity: '0.6'
                }, 1000);
            });
            //按钮的透明度
            $("#tccbtn").hover(function () {
                $(this).stop().animate({
                    opacity: '1'
                }, 600);
            }, function () {
                $(this).stop().animate({
                    opacity: '0.8'
                }, 1000);
            });
            $("#tccbtn").on('click', function () {
                var userid = $("#userid").val();
                var glylb = $("#glylb").val();
                if(userid=='')
                { alert('数据错误！') }
                else if(glylb=='')
                {alert('请选择管理员类型'');}
                else
                {
                    $.post("{:U('manage/admin/addmanager')}",{userid:userid,glylb:glylb},function(msg){
                        if(msg=="ok"){alert（'添加成功！');}
                        else
                        {
                            alert（'添加失败！');
                        }
                    });
                }
















            });





















            //关闭
            $(".close_btn").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
                $("#tcc").fadeOut("fast");
                $("#mask").css({ display: 'none' });
            });
        });
        function tctjc(valueA,valueB)
        {
            $("#userid").attr('value',valueA);
            $("#username").attr('value',valueB);
            $("body").append("<div id='mask'></div>");
            $("#mask").addClass("mask").fadeIn("slow");
            $("#tcc").fadeIn("slow");
        }
        function addmanage(value)
        {
            alert(value);
        }
        function deleteuser(value)
        {
            alert(value);
        }
    </script>

    <div id="tcc">
        <div class="row1">
            添加<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
            姓名：<input type="text" id="username" value=""/>
        </div>
        <input id='userid' type="text" style="display:none" value=""/>
        <div class="row">

            管理员类别：
            <select name="glylb" id="glylb">
                <option value="">请选择管理员类别</option>
                <option value="1">区级管理员</option>
                <option value="2">机构管理员</option>
            </select>
        </div>
        <div class="row">
            <a href="#" id="tccbtn">添加</a>
        </div>
    </div>

    <style type="text/css">div[id='tjwgly']{float: left;color:rgb(33, 164, 244);}</style>
    <div class="content">
        <table class="table">
            <tr>
                <td>姓名</td>
                <td>身份证件类型</td>
                <td>身份证件号</td>
                <td>工号</td>
                <td>机构</td>
                <td>电子邮箱</td>
                <td>手机号码</td>
                <td>区县</td>
                <td>操作</td>
            </tr>
            <volist name="data" id="vo">
                <tr>
                    <td>{$vo['XM']}</td>
                    <td>{$vo['SFZJLX']}</td>
                    <td>{$vo['SFZJH']}</td>
                    <td>{$vo['GH']}</td>
                    <td>{$vo['JG']}</td>
                    <td>{$vo['EMAIL']}</td>
                    <td>{$vo['TEL']}</td>
                    <td>{$vo['QX']}</td>
                    <td>  <a href="javascript:void(0)" id="tjwgly" onclick="javascript:tctjc('{$vo[ID]}','{$vo[XM]}')">添加为管理员</a> <a href="javascript:void(0)" onclick="deleteuser({$vo['ID']})">删 除</a> </td>

                </tr>
            </volist>
        </table>
        {$page}
    </div>
</div>


<include file="Common:footer" />









